<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fectdo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_logo_fd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo_fd"
        android:supportsRtl="true"
        android:theme="@style/Theme.FectDo"
        tools:targetApi="31">
        <activity
            android:name=".career.study.UPUActivity"
            android:exported="true" />
        <activity
            android:name=".career.study.SpmAtauStpm"
            android:exported="false" />
        <activity
            android:name=".social.chats.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".course.Activity.AddCourse"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".course.Activity.ManageCoursePage"
            android:exported="false" />
        <activity
            android:name=".course.Activity.CourseListPage"
            android:exported="false" />
        <activity
            android:name=".career.scholarship.Scolarhship"
            android:exported="false" />
        <activity
            android:name=".career.CareerMain"
            android:exported="false" />
        <activity
            android:name=".edit.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".edit.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".general.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".general.SignUpUsernameEmailPassword"
            android:exported="false" />
        <activity
            android:name=".general.LoginEmailPassword"
            android:exported="false" />
        <activity
            android:name=".course.Activity.Exam"
            android:exported="false" />
        <activity
            android:name=".course.Activity.ExamMainPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".course.Activity.VideoPage"
            android:exported="false" />
        <activity
            android:name=".course.UploadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".social.SocialActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".general.WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".social.MainFeedActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>