<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fectdo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission for internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fd"
        android:supportsRtl="true"
        android:theme="@style/Theme.FectDo"
        tools:targetApi="31">
        <activity
            android:name=".course.VideoPhysicsPage"
            android:exported="false" />
        <activity
            android:name=".course.Exam"
            android:exported="false" />
        <activity
            android:name=".course.ExamMainPage"
            android:exported="false" />
        <activity
            android:name=".general.SignUpUserrname"
            android:exported="false" />
        <activity
            android:name=".general.SignUpOTP"
            android:exported="false" />
        <activity
            android:name=".general.SignUpPhoneNumber"
            android:exported="false" />
        <activity
            android:name=".course.Enroll"
            android:exported="false" />
        <activity
            android:name=".course.VideoChemPage"
            android:exported="false" />
        <activity
            android:name=".course.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".general.LoginPage"
            android:exported="false" />
        <activity
            android:name=".general.WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.SignUpPage"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>